<section class=footerSection>
      <article class=footerArticle>
        <div class=footerFoot>
          <div>
            <p>©2023 One Advanced. All rights reserved</p>
          </div>
          <div class=footerPolicy>
            <a
              href="https://testyantraglobal.com/privacy-policy/"
              target="_blank"
            >
              Privacy Policy
            </a>
            <a
              href="https://testyantraglobal.com/cookies-policy/"
              target="_blank"
            >
              Cookie Policy
            </a>
          </div>
        </div>
      </article>
    </section>
