
<section class="sectionBlock6">
  <article class="articleBlock6">
    <div class="subscribe6">
      <h2>Subscribe to our Newsletter</h2>
      <input type="text" placeholder="Your email" class="input6" />
    </div>
    <button class="subscribe6Btn">Subscribe</button>

    <div class="footList">
      <div>
        <img src="" alt="" />
      </div>
      <div>
        <ul>
          <li>Home</li>

          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Work With Us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Case Studies</a>
          </li>

          <li>Services</li>

          <li>
            <a href="#">Software Development</a>
          </li>
          <li>
            <a href="#">Software Testing</a>
          </li>
          <li>
            <a href="#">Elevate – IT training services</a>
          </li>
          <li>
            <a href="#">IT consulting</a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Industries</li>

          <li>
            <a href="#">Banking & Finance</a>
          </li>
          <li>
            <a href="#">Insurance</a>
          </li>
          <li>
            <a href="#">Healthcare</a>
          </li>
          <li>
            <a href="#">Retail & e-commerce</a>
          </li>
          <li>
            <a href="#">Technology and Communications</a>
          </li>
          <li>
            <a href="#">Education</a>
          </li>
          <li>
            <a href="#">Travel</a>
          </li>
          <li>
            <a href="#">Media and Entertainment</a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Connect</li>
        </ul>
        <ul class="socialIconList">
          <li>
            <a href="https://www.facebook.com/oneadvanced/" target="_blank">
              Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/oneadvanced" target="_blank">
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/oneadvanced/" target="_blank">
              Instagram
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/oneadvanced/"
              target="_blank"
            >
              LinkedinIn
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="tel:+1 888 980 7010"> Ph: +1 888 980 7010 </a>
          </li>
          <li>
            <a href="mailto:hello@oneadvanced.com"> hello@oneadvanced.com </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
